@page
@model Project_Cecilious.Pages.Views.Restaurants.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Restaurant.RestaurantId" />
            <div class="form-group">
                <label asp-for="Restaurant.RestaurantCategoryId" class="control-label"></label>
                <select asp-for="Restaurant.RestaurantCategoryId" class="form-control" asp-items="ViewBag.RestaurantCategoryId"></select>
                <span asp-validation-for="Restaurant.RestaurantCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.RestaurantAddressId" class="control-label"></label>
                <select asp-for="Restaurant.RestaurantAddressId" class="form-control" asp-items="ViewBag.RestaurantAddressId"></select>
                <span asp-validation-for="Restaurant.RestaurantAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.RestaurantName" class="control-label"></label>
                <input asp-for="Restaurant.RestaurantName" class="form-control" />
                <span asp-validation-for="Restaurant.RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.Phone" class="control-label"></label>
                <input asp-for="Restaurant.Phone" class="form-control" />
                <span asp-validation-for="Restaurant.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.Description" class="control-label"></label>
                <input asp-for="Restaurant.Description" class="form-control" />
                <span asp-validation-for="Restaurant.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.StartTime" class="control-label"></label>
                <input asp-for="Restaurant.StartTime" class="form-control" />
                <span asp-validation-for="Restaurant.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant.EndTime" class="control-label"></label>
                <input asp-for="Restaurant.EndTime" class="form-control" />
                <span asp-validation-for="Restaurant.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
